<h2>搜索结果</h2>

<br>
<br>
<table class="table">
  <thead>
    <tr>
      <td>文件名</td>
      <td>创建时间</td>
      <td>分类</td>
      <td>发布者</td>

    </tr>
  </thead>
  <% if @documents.present? %>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to(document.file_name, document.file_url) %></td>
        <td><%= document.created_at %></td>
        <td><%= document.file_type %></td>
        <td><%= document.user.username %></td>
      </tr>
    <% end %>
  <% else %>
    什么都没有找到，请换个关键词试试？
  <% end %>

</table>
